---
    import Layout from '../layouts/Layout.astro';
    import Card from '../components/Card.astro';
    import { getUserLocation } from '../lib/getUserLocation';
    import { getUserSeason } from '../lib/getUserSeason';
    import Header from '../components/Header.astro';
    import values from '../vegetable-values.json';
import Navbar from '../components/Navbar.astro';

    const userLocation = await getUserLocation();
    const userSeason = getUserSeason();
---

<Layout title="Astro Foodie">
    <main>
        <h1>Welcome to <span class="text-gradient">Astro Foodie</span></h1>

        <Header className={`instructions ${userSeason}`} title={`${userSeason} vegetables and fruits in
            ${userLocation.country?.name ?? 'your country'}`} body={values.summer}>
        </Header>

        <ul role="list" class="link-card-grid">
            <Card className={`${userSeason === 'Summer' ? 'link-card active' : 'link-card' }`} href="/recipes/summer"
                title="ðŸ– Summer" body="Best recipes for this time of the year." />
            <Card className={`${userSeason === 'Spring' ? 'link-card active' : 'link-card' }`} href="/recipes/spring"
                title="ðŸŒ¼ Spring" body="Best recipes for this time of the year." />
            <Card className={`${userSeason === 'Autumn' ? 'link-card active' : 'link-card' }`} href="/recipes/autumn"
                title="ðŸ‚ Autumn" body="Best recipes for this time of the year." />
            <Card className={`${userSeason === 'Winter' ? 'link-card active' : 'link-card' }`} href="/recipes/winter"
                title="â„ï¸ Winter" body="Best recipes for this time of the year." />
        </ul>
    </main>
</Layout>

<style>
    main {
        margin: auto;
        padding: 1.5rem;
        max-width: 70ch;
    }

    h1 {
        font-size: 3rem;
        font-weight: 800;
        margin: 0;
    }

    .text-gradient {
        background-image: var(--accent-gradient);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-size: 400%;
        background-position: 0%;
    }

    .instructions {
        line-height: 1.6;
        margin: 1rem 0;
        border: 1px solid rgba(var(--accent), 25%);
        background-color: white;
        padding: 1rem;
        border-radius: 0.4rem;
    }

    .instructions code {
        font-size: 0.875em;
        font-weight: bold;
        background: rgba(var(--accent), 12%);
        color: rgb(var(--accent));
        border-radius: 4px;
        padding: 0.3em 0.45em;
    }

    .instructions strong {
        color: rgb(var(--accent));
    }

    .link-card-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
        gap: 1rem;
        padding: 0;
    }
    .navbar {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
        gap: 1rem;
    }
</style>